.TL-page {
  padding-inline: 1rem;
  text-align: center;
}
.tl {
  position: relative;
  max-width: 1000px;
  margin: 100px auto;
  color: #fff;
  /* background: #6054ea; */
}

.tl-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  opacity: 0;
  animation: movedown 0.5s linear forwards;
  /* background: rgba(196, 181, 253, 0.3); */
  /* background: rgba(0, 0, 0, 0.3); */
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.tl-container img {
  align-items: center;
  max-width: 60px;
  /* border-radius: 50%; */
  position: absolute;
  right: -30px;
  top: 32px;
  z-index: 10;
}
.tl-text-box {
  padding: 15px 30px;
  /* background: #C4B5FD; */
  background: #ffffff31;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.right-container img {
  left: -30px;
}

.tl::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background: #fff;
  top: 0;
  left: 50%;
  margin-left: -2px;
  z-index: -1;
}

.tl-day0::after {
  animation: moveline 0.75s linear forwards;
}
.tl-day1::after {
  animation: moveline 3.25s linear forwards;
}
.tl-day2::after {
  animation: moveline 2.5s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.tl-text-box h2 {
  font-weight: 600;
}

.tl-text-box small {
  display: inline-block;
  margin-bottom: 5px;
}
.tl-text-box a {
  margin-bottom: 0;
  text-decoration: none;
  color: #fff;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 35px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #ffffff31;
  right: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 35px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ffffff31;
  left: -14px;
}

@media screen and (max-width: 768px) {
  .left-container {
    padding-left: 0;
  }
  .right-container {
    padding-right: 0;
  }
}

/* @media screen and (max-width: 425px) {
  .tl-container {
    padding-right: 0;
  }
} */
@media screen and (max-width: 600px) {
  .tl {
    margin: 50px auto;
  }
  .tl::after {
    left: 31px;
  }
  .tl-container {
    width: 100%;
    padding-left: 80px;
    padding-right: 0;
  }
  .tl-text-box {
    font-size: 13px;
  }
  .right-container {
    left: 0;
  }
  .left-container img,
  .right-container img {
    left: 1px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #ffffff31;
    border-left: 0;
    left: -15px;
  }
}

.tl-container:nth-child(1) {
  animation-delay: 0s;
}
.tl-container:nth-child(2) {
  animation-delay: 0.25s;
}
.tl-container:nth-child(3) {
  animation-delay: 0.5s;
}
.tl-container:nth-child(4) {
  animation-delay: 0.75s;
}
.tl-container:nth-child(5) {
  animation-delay: 1s;
}
.tl-container:nth-child(6) {
  animation-delay: 1.25s;
}
.tl-container:nth-child(7) {
  animation-delay: 1.5s;
}
.tl-container:nth-child(8) {
  animation-delay: 1.75s;
}
.tl-container:nth-child(9) {
  animation-delay: 2s;
}
.tl-container:nth-child(10) {
  animation-delay: 2.25s;
}
.tl-container:nth-child(11) {
  animation-delay: 2.5s;
}
.tl-container:nth-child(12) {
  animation-delay: 2.75s;
}
.tl-container:nth-child(13) {
  animation-delay: 3s;
}
.tl-container:nth-child(14) {
  animation-delay: 3.25s;
}
.tl-container:nth-child(15) {
  animation-delay: 3.5s;
}
.tl-container:nth-child(16) {
  animation-delay: 3.75s;
}
.tl-container:nth-child(17) {
  animation-delay: 4s;
}
.tl-container:nth-child(18) {
  animation-delay: 4.25s;
}
.tl-container:nth-child(19) {
  animation-delay: 4.5s;
}
.tl-container:nth-child(20) {
  animation-delay: 4.75s;
}
.tl-container:nth-child(21) {
  animation-delay: 5s;
}
.tl-container:nth-child(22) {
  animation-delay: 5.25s;
}
.tl-container:nth-child(23) {
  animation-delay: 5.5s;
}
.tl-container:nth-child(24) {
  animation-delay: 5.75s;
}
.tl-container:nth-child(25) {
  animation-delay: 6s;
}
.tl-container:nth-child(26) {
  animation-delay: 6.25s;
}
.tl-container:nth-child(27) {
  animation-delay: 6.5s;
}
.tl-container:nth-child(28) {
  animation-delay: 6.75s;
}
.tl-container:nth-child(29) {
  animation-delay: 7s;
}
.tl-container:nth-child(30) {
  animation-delay: 7.25s;
}
